<!DOCTYPE html>
<html>
<head>
  <title>会务平台</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="main">
  <%= link_to("注销", "/sessions", :method => :delete) %>
  <%= yield %>
</div>
</body>
</html>
