<!DOCTYPE html>
<html>
<head>
  <title>会务平台</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">

    <div class = "navbar-header">
      <div class = "navbar-brand">
        会议管理后台
      </div>
    </div>

    <div class ="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-text"><%=session[:current_user_name] %></li>
        <li><%= link_to("注销", "/sessions", :method => :delete) %></li>

      </ul>
    </div>

  </div>
</div>
<div class="wrap">
  <div class="container">
    <%= yield %>
  </div>
</div>

</body>
</html>
